body {
    background: linear-gradient(to right bottom, yellow, orange, red);
    background-size: 100%;

}
#main {
 width:50%;
 height:fit-content;
 background-color: white;
 margin:auto;
 top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 padding:1%;
 border-radius:5px;
 position: fixed;

}
#title {
    
    font-size: 25px;
    font-family: sans-serif;
    color:navy;
}
#fname {
    background-color: lightgray;
}
input, textarea {
    width: 90%; /* Make form elements full width within the form */
    padding: 5px; /* Add padding for spacing */
    margin-bottom: 2px; /* Add margin bottom for spacing */
    margin-left:2px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: left;
    color:gray;
    border-radius: 10px;
    border:none;
}
#add {
    background: linear-gradient(to right bottom, yellow, orange, purple);
    border-radius:10px;
    width:10%;
    padding:5px 5px 5px 0px;
    margin-bottom: 2px; 
    margin-left:0px;
    font-size: 15px;
    text-align: center;
    color:white;
    border:none;
}

#type {
    width:80%;
    margin-right:0;
    margin-left:auto;
    display:inline-flex;
    border-spacing: 0px;
    padding:0px;
}
.task-item {
    margin: 5px;
    padding: 5px;
    border: none;
    display: flex;
    align-items: center;
}
.task-item .circle {
    width: 20px;
    height: 20px;
    border: 1px solid #000; /* Border color */
    border-radius: 50%; /* Ensure it's a circle */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-item .circle i {
    font-size: 12px;
    color: transparent; /* Circle color */
}